<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500|Work+Sans" rel="stylesheet">
    <!-- Own -->
    <link rel="stylesheet" href="/dist/css/drop_page.css">

    <title>Drop page</title>
</head>

<body>

    <% var drop_json = JSON.stringify(drop) %>
    <div id="drop-data" data-drop="<%= drop_json %>"></div>
    <% if(user){ %>
    <% var user_json = JSON.stringify(user) %>
    <div id="user-data" data-user="<%= user_json %>"></div>
    <% }else{ %>
    <div id="user-data" data-user=""></div>
    <% } %>

    <!-- NAV -->
    <nav class="sbar-nav pl-1 d-flex flex-row align-items-center justify-content-between">
        <a href="/map" class="sbar-nav-link">
            <img src="/icons/chevron-left.svg" width="10px" class="mt-1 ml-1" alt="">
            <span>Back to map</span>
        </a>
        <% if(!isFollowing){ %>
        <button class="btn" id="btn-unfollow" data-id="<%= drop._id %>" style="display: none">Unfollow</button>
        <button class="btn" id="btn-follow" data-id="<%= drop._id %>">Follow</button>
        <% }else{ %>
        <button class="btn" id="btn-unfollow" data-id="<%= drop._id %>">Unfollow</button>
        <button class="btn" id="btn-follow" data-id="<%= drop._id %>" style="display: none">Follow</button>
        <% } %>
    </nav>

    <!-- TABS -->
    <div class="tabs">
        <label>
            <input class="d-none" type="radio" name="tabs" value="comments" id="">
            <span>Comments</span>
        </label>
        <label>
            <input class="d-none" checked type="radio" name="tabs" value="images" id="">
            <span>Images</span>
        </label>
    </div>

    <!-- MAIN -->
    <main>
        <!-- COMMENTS SIDEBAR -->
        <div class="sidebar" id="sidebar">
            <!-- POSTS -->
            <div class="w-100 mt-2 p-3">

                <!-- CREATION POST -->
                <div class="post" data-post-id="<%=drop.posts_list[0]._id%>" data-owner-id="<%=drop.owner._id%>"
                    data-drop-id="<%= drop._id %>">

                    <!-- USER -->
                    <div class="d-flex flex-row align-items-flex-start">
                        <div style="width: 100px; flex: none">
                            <div class="sbar-profile-img w-100"
                                style="background-image: url('<%= drop.owner.info.profile_pic %>');"></div>
                        </div>
                        <div class="ml-5">
                            <a href="/user/<%=drop.owner._id%>" class="username"><%= drop.owner.username %></a>
                            <span class="txt-date" data-date-iso="<%= drop.posts_list[0].creation_date %>"></span>
                            <div class="w-100 mt-3 d-flex flex-row flex-wrap align-items-center">
                                <button class="btn-star" data-like=0> <img src="/icons/star-outline.svg" width="25px"
                                        alt=""> </button>
                                <span class="ml-2"><%= drop.posts_list[0].likes_list.length %></span>
                            </div>
                        </div>
                    </div>

                    <h2 class="mt-3"><%= drop.title %></h2>
                    <% if(drop.hashtag.hashtag){ %>
                    <h3 class="mt-2">#<%= drop.hashtag.hashtag %></h3>
                    <% } %>
                    <% if(drop.posts_list[0].comment){ %>
                    <p class="comment mt-3"><%= drop.posts_list[0].comment %></p>
                    <% } %>


                    <% var c_post = drop.posts_list[0]; %>
                    <% if(c_post.replies_list.length > 0){ %>
                    <% for(var j = 0; j < c_post.replies_list.length; j++){ %>
                    <% var c_reply = c_post.replies_list[j]; %>
                    <div class="reply mt-3">
                        <div class="sbar-divider-sub my-2"></div>
                        <div class="d-flex flex-row align-items-flex-start">
                            <div style="width:50px; flex: none">
                                <div class="sbar-profile-img w-100"
                                    style="background-image: url('<%= c_reply.owner.info.profile_pic %>');"></div>
                            </div>
                            <div class="ml-2">
                                <a href="/user/<%=c_reply.owner._id%>"
                                    class="username h6"><%= c_reply.owner.username %></a>
                                <p class="comment"><%= c_reply.comment %></p>
                            </div>
                        </div>
                    </div>
                    <% }} %>

                    <div class="d-flex flex-row align-items-center">
                        <div class="sbar-divider my-3"></div>
                        <button class="btn btn-reply">reply</button>
                    </div>
                </div>

                <!-- ADD POST -->
                <% if(user){ %>
                <div class="add-post">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <!-- Profile pic -->
                        <div style="width:70px; flex: none">
                            <div class="sbar-profile-img w-100"
                                style="background-image: url('<%= user.info.profile_pic %>');"></div>
                        </div>
                        <button class="btn-add-img open-uppy btn">Add photos</button>
                    </div>
                    <form action='/drop/<%=drop._id %>/newpost' method="POST">
                        <!-- Comment -->
                        <textarea class="comment mt-3" name="comment" id=""></textarea>
                        <!-- Hidden input - images urls -->
                        <input type="hidden" name="urls" id="input-urls">
                        <!-- Display pics -->
                        <div class="mt-2 w-100 add-img" style="display: none">
                            <div id="sbar-form-img-col">

                            </div>
                            <div class="mt-3 mb-2">
                                <img id="sbar-form-add-more" src="/icons/add-plus-button.svg"
                                    class="d-block w-50 mt-3 mx-auto " alt="">
                            </div>
                        </div>
                        <div class="w-50 mt-2" style="margin-left:auto">
                            <button class="btn btn-submit" type="submit">Submit post</button>
                        </div>
                    </form>
                    <div class="sbar-divider my-3"></div>
                </div>
                <% } %>

                <!--  O RESTO DOS POSTS -->
                <% for(var i = drop.posts_list.length-1; i > 0; i--){ %>
                <% var c_post = drop.posts_list[i]; %>
                <div class="post" data-post-id="<%=c_post._id%>" data-owner-id="<%=c_post.owner._id%>"
                    data-drop-id="<%= drop._id %>">
                    <div class="d-flex flex-row align-items-flex-start">
                        <div style="width:70px; flex: none">
                            <div class="sbar-profile-img w-100"
                                style="background-image: url('<%= c_post.owner.info.profile_pic %>');"></div>
                        </div>
                        <div class="ml-3">
                            <a href="/user/<%=c_post.owner._id%>" class="username"><%= c_post.owner.username %></a>
                            <span class="txt-date" data-date-iso="<%= c_post.creation_date %>"></span>
                            <br>
                            <div class="mt-1"></div>
                            <div class="w-100 d-flex flex-row flex-wrap align-items-center">
                                <button class="btn-star" data-like=0> <img src="/icons/star-outline.svg" width="25px"
                                        alt=""> </button>
                                <span class="ml-2"><%= c_post.likes_list.length %></span>
                            </div>
                        </div>
                    </div>
                    <p class="comment mt-3"><%= c_post.comment %></p>


                    <% if(c_post.replies_list.length > 0){ %>
                    <% for(var j = 0; j < c_post.replies_list.length; j++){ %>
                    <% var c_reply = c_post.replies_list[j]; %>
                    <div class="reply mt-3">
                        <div class="sbar-divider-sub my-2"></div>

                        <div class="d-flex flex-row align-items-flex-start">
                            <div style="width:50px; flex: none">
                                <div class="sbar-profile-img w-100"
                                    style="background-image: url('<%= c_reply.owner.info.profile_pic %>');"></div>
                            </div>
                            <div class="ml-2">
                                <a href="/user/<%=c_reply.owner._id%>"
                                    class="username h6"><%= c_reply.owner.username %></a>
                                <p class="comment"><%= c_reply.comment %></p>
                            </div>
                        </div>

                    </div>
                    <% }} %>

                    <div class="d-flex flex-row align-items-center">
                        <div class="sbar-divider my-3"></div>
                        <button class="btn btn-reply">reply</button>
                    </div>

                </div>
                <% } %>

            </div>
        </div>

        <!-- IMG GRID -->
        <div class="img-grid px-4 pt-2">
            <!-- CREATION POST -->
            <% var c_post = drop.posts_list[0]; %>

            <div class="d-flex flex-row align-items-center">
                <div class="img-grid-divider"></div>
                <div class="mx-2">
                    <span><%= c_post.owner.username %></span>
                    <span class="txt-date" data-date-iso="<%= c_post.creation_date %>"></span>
                </div>
                <div class="img-grid-divider"></div>
            </div>

            <div class="post-images" data-post-id="<%= c_post._id %>">
                <% for(var j = 0; j < c_post.images.length; j++){ %>
                <% if(c_post.images[j]){ %>
                <img class="w-100 img-grid-img" data-img-num="<%=j%>" src="<%= c_post.images[j] %>" alt="">
                <% } %>
                <% } %>
            </div>


            <!-- RESTO DOS POSTS -->
            <% for(var i = drop.posts_list.length - 1; i > 0  ; i--){ %>
            <% var c_post = drop.posts_list[i]; %>
            <% if(c_post.images.length > 0 && c_post.images[0] != ""){ %>
            <% for(var j = 0; j < c_post.images.length; j+=3){ %>

            <div class="d-flex flex-row align-items-center">
                <div class="img-grid-divider"></div>
                <div class="mx-2">
                    <span><%= c_post.owner.username %></span>
                    <span class="txt-date" data-date-iso="<%= c_post.creation_date %>"></span>
                </div>
                <div class="img-grid-divider"></div>
            </div>

            <div class="post-images" data-post-id="<%= c_post._id %>">
                <% for(var j = 0; j < c_post.images.length; j++){ %>
                <% if(c_post.images[j]){ %>
                <img class="w-100 img-grid-img" data-img-num="<%=j%>" src="<%= c_post.images[j] %>" alt="">
                <% } %>
                <% } %>
            </div>

            <% } %>


            <% } %>

            <% } %>
        </div>
    </main>


    <!-- VIEW LARGER MODAL -->
    <div class="modal fade post" id="view-larger-modal" tabindex="-1" role="dialog" data-post-id="">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex flex-row align-items-flex-start float-left">
                        <div style="width: 100px; flex: none">
                            <div class="sbar-profile-img w-100" style="background-image: url('');"></div>
                        </div>
                        <div class="ml-5">
                            <div>
                                <a href="/user/" class="username"></a>
                                <span class="txt-date"></span>
                            </div>
                            <div class="mt-3 w-100 d-flex flex-row flex-wrap align-items-center ">
                                <button class="btn-star" data-like=0> <img src="/icons/star-outline.svg" width="30px"
                                        alt=""> </button>
                                <span class="ml-2 likes-count"><%= drop.posts_list[0].likes_list.length %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="w-100">
                    <img src="" class="modal-post-img" width="100%" alt="">
                    <p class="mt-3 modal-comment">.</p>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- REPLY FORM - COPY PASTE -->
    <% if(user){ %>
    <form action="#" method="POST" class="add-reply mt-2 d-none" id="reply-form">
        <div class="d-flex flex-row align-items-flex-start justify-content-between">

            <div style="width:60px">
                <div class="sbar-profile-img w-100" style="background-image: url('<%= user.info.profile_pic %>');">
                </div>
            </div>

            <textarea class="comment ml-3" name="comment" id=""></textarea>
        </div>
        <div class="w-50 mt-2" style="margin-left:auto">
            <button class="btn btn-submit" type="submit">Submit reply</button>
        </div>
        <div class="sbar-divider my-3"></div>
    </form>
    <% } %>

    <!-- Flash messages -->
    <div class="flash-msg w-100" id="flash-success" style="display: none">
        <div class="alert alert-success">
            <span class="text-secondary work-sans">success</span>
        </div>
    </div>
    <div class="flash-msg w-100" id="flash-failure" style="display: none">
        <div class="alert alert-danger">
            <span class="text-secondary work-sans">fail</span>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Moment time -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
    <!-- Autosize -->
    <script src='/dist/js/autosize.js'></script>
    <script>
        autosize(document.querySelectorAll('textarea'));
    </script>
    <!-- Own -->
    <script src="/dist/js/drop_page.js"></script>
    <!-- FLASH MESSAGES -->
    <% if(messageFailure && messageFailure.length > 0){ %>
    <% console.log("Message: ",messageFailure) %>
    <script>
        flash("failure", "<%= messageFailure %>")
    </script>
    <% } %>
    <% if(messageSuccess && messageSuccess.length > 0){ %>
    <script>
        flash("success", "<%= messageSuccess %>")
    </script>
    <% } %>


</body>

</html>