<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500|Work+Sans" rel="stylesheet">
    <!-- Color Pick -->
    <link rel="stylesheet" href="/dist/css/colorPick.css">
    <!-- Own -->
    <link rel="stylesheet" href="/dist/css/map_page.css">

    <title>Map</title>
</head>

<body>

    <!-- Pass user to js -->
    <% if(user){ %>
    <% var user_json = JSON.stringify(user) %>
    <div id="user-data" data-user="<%= user_json %>"></div>
    <% } %>

    <!-- NAVBAR -->
    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-green">
        <a class="navbar-brand mr-2" href="#">

            <% if(!user){ %>
            <div class="nav-profile-img" onclick="setSBar('sbar-not-loggedin')"
                style="background-image: url('/icons/user-sm.svg');"></div>
            <% }else{ %>
            <div class="nav-profile-img" onclick="setSBar('sbar-loggedin')"
                style="background-image: url('<%= user.info.profile_pic %>');"></div>
            <% } %>

        </a>

        <button class="btn btn-danger mr-3 d-md-none ml-auto btn-add-drop">Upload</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon text-white"></span>
        </button>
        <div class="collapse navbar-collapse p-2" id="navbarNav">
            <% if(user){ %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex align-items-center">
                    <div class="vr-divider1 d-none d-md-block"></div>
                    <a href="#" class="nav-link" onclick="setSBar('sbar-following')"> Following </a>
                    <span class="badge ml-1" id="badge-following"></span>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="vr-divider1 d-none d-md-block"></div>
                    <a href="#" class="nav-link" onclick="setSBar('sbar-notifications')"> Notifications </a>
                    <span class="badge ml-1" id="badge-notifications"></span>
                </li>
            </ul>
            <% }else{ %>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-flex align-items-center">
                    <div class="vr-divider1 d-none d-md-block"></div>
                    <a href="#" class="nav-link" onclick="setSBar('sbar-not-loggedin')"> Log-in </a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <div class="vr-divider1 d-none d-md-block"></div>
                    <a href="/signup" class="nav-link"> Sign-up </a>
                </li>

            </ul>
            <% } %>
            <!-- <button class="btn btn-danger mr-3" id="btn-add-drop">Upload</button> -->
            <button class="btn btn-danger mr-3 d-none d-md-block btn-add-drop">Upload</button>
            <div class="dropdown">
                <input class="form-control" id="src-bar" type="search" placeholder="Search" aria-label="Search">

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="src-drop-all">

                </div>
            </div>
        </div>
    </nav>





    <% if(user){ %>
    <!-- SIDEBAR FOLLOWING -->
    <div class="sidebar" id="sbar-following" style="display: none">
        <div class="sbar-container">

            <% if(following_news){ %>
            <% for(var i = following_news.length - 1; i >= 0; i--){ %>
            <% var item = following_news[i] %>

            <% if(item.type == "new drop"){ %>
            <!-- USER UPLOADED -->
            <div class="sbar-entry d-flex flex-row align-items-flex-start">
                <div class="sbar-entry-border">
                    <a href="/drop/<%= item.objectId %>">
                        <div class="sbar-entry-img" style="background-image: url('<%= item.thumbnail %>');"></div>
                    </a>
                </div>

                <div class="ml-4 pl-1">
                    <a href="/user/<%= item.owner.id %>" class="h5"><%= item.owner.username %> dropped</a>
                    <p class="h5 work-sans"><%= item.title %></p>
                    <% if(item.hashtag){ %>
                    <span class="h6 txt-hashtag">#<%= item.hashtag %></span>
                    <% } %>

                </div>
            </div>
            <hr class="sbar-divider">
            <!-- END -->
            <% } %>

            <% if(item.type == "new post"){ %>
            <!-- NEW POST IN DROP -->
            <div class="sbar-entry d-flex flex-row align-items-flex-start">
                <div class="sbar-entry-border">
                    <a href="/drop/<%= item.objectId %>">
                        <div class="sbar-entry-img" style="background-image: url('<%= item.thumbnail %>');"></div>
                    </a>
                </div>

                <div class="ml-4 pl-1">
                    <h5>New post in</h5>
                    <span class="h5 work-sans"><%= item.title %></span>
                    <% if(item.hashtag){ %>
                    <span class="h6 txt-hashtag">#<%= item.hashtag %></span>
                    <% } %>
                    <br>
                    <a href="/user/<%= item.owner.id %>" class="h6 mt-2">from <%= item.owner.username %></a>
                </div>
            </div>
            <hr class="sbar-divider">
            <!-- END -->
            <% } %>

            <% }} %>
        </div>
        <button class="btn btn-collapse"> <img src="/icons/chevron-left.svg" width="12px" alt=""> </button>
    </div>
    <% } %>

    <% if(user){ %>
    <!-- SIDEBAR NOTIFICATIONS -->
    <div class="sidebar" id="sbar-notifications" style="display: none">
        <div class="sbar-container">
            <% if(notifications){ %>
            <% for(var i = notifications.length - 1; i >= 0; i--){ %>
            <% var item = notifications[i] %>

            <% if(item.type == "new post"){ %>
            <!-- NEW POST IN OWNED DROP -->
            <div class="sbar-entry d-flex flex-row align-items-flex-start">
                <div class="sbar-entry-border">
                    <a href="/user/<%= item.owner.id %>">
                        <div class="sbar-entry-img" style="background-image: url('<%= item.thumbnail %>');"></div>
                    </a>
                </div>

                <div class="ml-4 pl-1">
                    <a href="/user/<%= item.owner.id %>" class="h5"><%= item.owner.username %></a>
                    <span class="h5">posted on your drop</span>
                    <a href="/drop/<%= item.objectId %>">
                        <p class="h5 work-sans"><%= item.title %></p>
                    </a>
                </div>
            </div>
            <hr class="sbar-divider">
            <!-- END -->
            <% } %>

            <% if(item.type == "new reply"){ %>
            <!-- NEW REPLY IN OWNED DROP -->
            <div class="sbar-entry d-flex flex-row align-items-flex-start">
                <div class="sbar-entry-border">
                    <a href="/drop/<%= item.objectId %>">
                        <div class="sbar-entry-img" style="background-image: url('<%= item.thumbnail %>');"></div>
                    </a>
                </div>

                <div class="ml-4 pl-1">
                    <a href="/user/<%= item.owner.id %>" class="h5"><%= item.owner.username %></a>
                    <span class="h5">replied to your post on:</span>
                    <a href="/drop/<%= item.objectId %>">
                        <p class="h5 work-sans"><%= item.title %></p>
                    </a>
                </div>
            </div>
            <hr class="sbar-divider">
            <!-- END -->
            <% } %>

            <% if(item.type == "new like"){ %>
            <!-- NEW LIKE IN OWNED POST -->
            <div class="sbar-entry d-flex flex-row align-items-flex-start">
                <div class="sbar-entry-border">
                    <a href="/drop/<%= item.owner.id %>">
                        <div class="sbar-entry-img" style="background-image: url('<%= item.thumbnail %>');"></div>
                    </a>
                </div>

                <div class="ml-4 pl-1">
                    <a href="/user/<%= item.owner.id %>" class="h5"><%= item.owner.username %></a>
                    <span class="h5">liked your post on:</span>
                    <a href="/drop/<%= item.objectId %>">
                        <p class="h5 work-sans"><%= item.title %></p>
                    </a>
                </div>
            </div>
            <hr class="sbar-divider">
            <!-- END -->
            <% } %>

            <% if(item.type == "new follower"){ %>
            <!-- NEW LIKE IN OWNED POST -->
            <div class="sbar-entry d-flex flex-row align-items-flex-start">
                <div class="sbar-entry-border">
                    <a href="/user/<%= item.owner.id %>">
                        <div class="sbar-entry-img" style="background-image: url('<%= item.thumbnail %>');"></div>
                    </a>
                </div>

                <div class="ml-4 pl-1">
                    <a href="/user/<%= item.owner.id %>" class="h5"><%= item.owner.username %></a>
                    <span class="h5">is now following you</span>
                </div>
            </div>
            <hr class="sbar-divider">
            <!-- END -->
            <% } %>
            <!-- END -->
            <% }} %>
        </div>
        <button class="btn btn-collapse"> <img src="/icons/chevron-left.svg" width="12px" alt=""> </button>
    </div>
    <% } %>

    <!-- SIDEBAR LOGGEDIN -->
    <% if(user){ %>
    <div class="sidebar" id="sbar-loggedin" style="display: none">
        <div class="sbar-container d-flex flex-column align-items-center w-100 m-0">
            <div class="w-50 mt-5">
                <div class="sbar-profile-img" style="background-image: url('<%= user.info.profile_pic %>');"></div>
            </div>
            <h4 class="mt-4"><%= user.username %></h4>
            <a href="/myprofile" class="btn btn-default w-50 mt-5">Edit profile</a>
            <a href="/logout" class="btn btn-default w-50 mt-2">Log-out</a>
        </div>
        <button class="btn btn-collapse"> <img src="/icons/chevron-left.svg" width="12px" alt=""> </button>
    </div>
    <% } %>

    <!-- SIDEBAR NOT-LOGGEDIN -->
    <% if(!user){ %>
    <div class="sidebar" id="sbar-not-loggedin" style="display: none">
        <div class="sbar-container d-flex flex-column align-items-center w-100 m-0">
            <div class="w-50 mt-5">
                <div class="sbar-profile-img" style="background-image: url('/icons/user.svg');"></div>
            </div>
            <h4 class="mt-3 mb-3">Unkown</h4>

            <form action="/login" method="POST" class="w-75">
                <div class="form-group">
                    <label for="email">email</label>
                    <input type="text" required class="form-control sbar-input" name="email">
                </div>
                <div class="form-group">
                    <label for="password">password</label>
                    <input type="text" required class="form-control sbar-input" name="password">
                </div>
                <button type="submit" class="btn btn-default w-100 mt-3">Log-in</button>
            </form>
            <a href="/signup" class="btn btn-default w-75 mt-3">Sign-up!</a>
            <div class="my-3 d-flex flex-row align-items-center w-75">
                <hr class="light"><span class="p-2">or</span>
                <hr class="light">
            </div>
            <a href="/logingoogle" class="btn-login-google mb-1"></a>
            <a href="/loginfacebook" class="btn-login-face mb-1"></a>
        </div>
        <button class="btn btn-collapse"> <img src="/icons/chevron-left.svg" width="12px" alt=""> </button>
    </div>
    <% } %>

    <!-- Upload drop floating info window -->
    <button id="add-drop-iw" style="display: none">
        <div class="w-100 d-flex flex-row align-items-center">
            <% if(user){ %>
            <div class="add-drop-profile-container">
                <div class="nav-profile-img" style="background-image: url('<%= user.info.profile_pic %>');"></div>
            </div>
            <span class="ml-3 mr-4 work-sans" style="font-size: 1.2em">Upload drop here..</span>
            <% }else{ %>
            <div class="add-drop-profile-container">
                <div class="nav-profile-img" style="background-image: url('/icons/user-sm.svg');"></div>
            </div>
            <span class="ml-3 mr-4 work-sans" style="font-size: 1.2em">Log-in to upload a drop here!</span>
            <% } %>
        </div>
    </button>
    <!-- Upload drop focus on map -->
    <div id="add-drop-focus" style="display: none">
        <div class="d-flex flex-row align-items-center justify-content-center p-0 mt-3">
            <img id="close-drop-focus" src="/icons/remove-symbol.svg" style="width: 25px; height: 25px;cursor: pointer"
                alt="">

            <span class="d-none d-md-block" style="font-size: 1.5em; margin-left:5%">Click on map to upload a new
                drop</span>
            <span class="d-md-none" style="font-size: 1.2em; margin-left:5%">Click on map to upload a new drop</span>

        </div>
    </div>
    <!-- Upload drop modal -->
    <% if(user){ %>
    <div class="modal fade post" id="upload-drop-modal" tabindex="-1" role="dialog" data-post-id="">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/newdrop" method="POST">
                    <div class="p-3">
                        <div class="d-flex flex-row align-items-flex-start w-100">
                            <div style="width: 100px; flex: none">
                                <div class="sbar-profile-img"
                                    style="background-image: url(' <%= user.info.profile_pic %> ');"></div>
                            </div>
                            <div class="ml-5 mt-2 w-75" style="">
                                <span> <%= user.username %> </span><br>
                                <!-- Place -->
                                <span class="mt-4">in </span>
                                <input type="text" readonly class="w-75" id="input-place" name="place"
                                    placeholder="...">
                            </div>
                        </div>
                    </div>

                    <div class="px-3 pt-1 pb-4">

                        <!-- Location -->
                        <input type="hidden" class="form-control text-right sbar-input" id="input-location"
                            name="location">

                        <!-- Title -->
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text pt-2 sbar-icon-text">
                                    <div class="d-block mx-auto">
                                        <h5 class="work-sans font-weight-bold">Title</h5>
                                    </div>
                                </div>
                            </div>
                            <input type="text" class="form-control text-right sbar-input" name="title"
                                placeholder="...">
                        </div>

                        <!-- Open filestack -->
                        <div id="sbar-form-upload-empty" class="sbar-form-upload mt-3" style="cursor: pointer">
                            <img src="/icons/upload-white.svg" class="d-block w-25 mt-3 mx-auto" alt="">
                            <h5 class="work-sans font-weight-bold text-center">Click to open upload modal or drag
                                inside.. </h5>
                        </div>

                        <!-- Preview pics -->
                        <div id="sbar-form-preview-img" class="sbar-form-upload mt-3" style="display: none">
                            <div class="row" id="sbar-form-preview-row">
                                <div class="col-6">

                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                            <button type="button" class="btn btn-danger mt-3 w-100" id="btn-add-imgs">Add more
                                pictures...</button>
                        </div>

                        <!-- Hashtag -->
                        <div class="input-group mt-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text pt-2 sbar-icon">
                                    <div class="d-block mx-auto">
                                        <img src="/icons/hashtag-white.svg" width="30px" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown dropdown-container-hashtag">
                                <input type="text" class="form-control sbar-input" name="hashtag" id="src-hashtag"
                                    placeholder="What is your drop about? Leave empty, choose one from the list or create your own">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="src-drop-hashtag">

                                </div>
                            </div>
                            <!-- Color -->
                            <div class="picker" id="color-hashtag" style="width: 50px; height: 50px; cursor: pointer"
                                data-initialcolor="#c0392b"></div>
                            <input type="hidden" name="color" id="input-color" value="#c0392b">
                        </div>

                        <!-- Comment -->
                        <textarea placeholder="Write a comment.." name="comment" style="min-height: 10vh"
                            class="p-4 mt-3 sbar-form-comment" data-autosize-input='{ "space": 200 }'></textarea>

                        <!-- Hidden input - images urls -->
                        <input type="hidden" name="urls" id="input-urls">

                        <!-- Submit btn -->
                        <button type="submit" onclick="onUnload()"
                            class="d-block btn btn-primary btn-sbar-upload w-75 mt-5 mb-0 mx-auto"> DROP </button>

                    </div>
                </form>

            </div>
        </div>
    </div>
    <% } %>

    <!-- Helper btn -->
    <button class="btn btn-primary d-none" id="btn-helper">Click</button>

    <!-- Flash messages -->
    <div class="flash-msg w-100" id="flash-success" style="display: none">
        <div class="alert alert-success text-center">
            <span class="text-secondary work-sans">success</span>
        </div>
    </div>
    <div class="flash-msg w-100" id="flash-failure" style="display: none">
        <div class="alert alert-danger text-center">
            <span class="text-secondary work-sans">fail</span>
        </div>
    </div>

    <!-- Query info -->
    <div class="query" id="query-user" style="display: none">
        <div class="p-3 d-flex flex-row justify-content-between align-items-center">
            <div>
                <button class="query-close mr-2"><img src="/icons/remove-symbol.svg" class="w-100" alt=""></button>
                <span>Drops by </span>
                <span class="h5 ml-2" id="query-username"></span>
            </div>

            <div class="query-thumbnail" style="background-image: url('')"></div>
        </div>
    </div>
    <div class="query" id="query-hashtag" style="display: none">
        <div class="p-3 d-flex flex-row justify-content-between align-items-center">
            <div>
                <button class="query-close mr-2"><img src="/icons/remove-symbol.svg" class="w-100" alt=""></button>
                <span>Drops tagged </span>
                <span class="h5 ml-2" id="query-hashtag-hashtag"></span>
            </div>

            <div class="query-thumbnail-hashtag"></div>
        </div>
    </div>

    <!-- MAP -->
    <div id="map"></div>

    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/pt_PT/sdk.js#xfbml=1&version=v2.12';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Bootstrap 4 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Map call -->
    <% var maps_url_with_key = "https://maps.googleapis.com/maps/api/js?key=" + "AIzaSyCHbUvhjy8kCIN9VFYrg-a3cQXql-pOSjA" + "&libraries=visualization,places" %>
    <script src="<%= maps_url_with_key %>"></script>
    <!-- Moment time -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.js"></script>
    <!-- Filestack -->
    <script src="https://static.filestackapi.com/v3/filestack.js"></script>
    <!-- Observables -->
    <script src="https://unpkg.com/@reactivex/rxjs@5.3.0/dist/global/Rx.js"></script>
    <!-- Autosize -->
    <script src='dist/js/autosize.js'></script>
    <script defer>
        autosize(document.querySelectorAll('textarea'));
    </script>
    <!-- ColorPicker -->
    <!-- https://github.com/philzet/ColorPick.js -->
    <script src="/dist/js/colorPick.js"></script>
    <!-- My script -->
    <script src="/dist/js/map_page.js"></script>

    <!-- FLASH MESSAGES -->
    <% if(messageFailure && messageFailure.length > 0){ %>
    <% console.log("Message: ",messageFailure) %>
    <script>
        flash("failure", "<%= messageFailure %>")
        setSBar("sbar-not-loggedin")
    </script>
    <% } %>
    <% if(messageSuccess && messageSuccess.length > 0){ %>
    <script>
        flash("success", "<%= messageSuccess %>")
        setSBar("sbar-not-loggedin")
    </script>
    <% } %>

</body>

</html>